@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --layout-primary-bg: #0c0a3e;
    --layout-circle-border-bg: #4e3fb6;

    --menu-primary-bg: #4e3fb6;
    --menu-secondary-bg: #0c0a3e;
    --menu-mobile-hover: #4e3fb6;
    --menu-link-text: #ffffff;
    --menu-link-text-hover: #08e8de;
    --menu-link-text-active: #08e8de;
    --menu-link-mobile-hover:  #3730A3;

    --button-v1-bg: #08e8de;
    --button-v1-bg-hover: #4e3fb6;
    --button-v1-text: #0c0a3e;
    --button-v1-text-hover: #ffffff;

    --button-v2-bg: #4e3fb6;
    --button-v2-bg-hover: #08e8de;
    --button-v2-text: #ffffff;
    --button-v2-text-hover: #0c0a3e;

    --main-header-text: #08e8de;

    --widget-header-text: #ffffff;
    --widget-body-text: #08e8de;
    --widget-bg: #00000083;
    --widget-price-change-text: #A3FC83;
    --widget-additional-text: #aaa9a9;

    --table-header-text: #ffffff;
    --table-bg: #00000083;
    --table-divider-v1-bg: #4e3fb6;
    --table-divider-v2-bg: #4e3fb683;
    --table-pagination-text: #ffffff;
    --table-pagination-text-hover: #000000;
    --table-pagination-bg-hover: #ffffff;
    --table-pagination-text-border-disabled: #7c7c7c90;
    --table-cell-text: #ffffff;
    --table-cell-link-text: #08e8de;

  }
  .theme-light{
    --layout-primary-bg: #847fa8;
    --layout-circle-border-bg: #dbdbdb;

    --menu-primary-bg: #1b1b29;
    --menu-secondary-bg: #847fa8;
    --menu-mobile-hover: #27243f;
    --menu-link-text: #ffffff;
    --menu-link-text-hover: #005752;
    --menu-link-text-active: #004d49;
    --menu-link-mobile-hover:  #626170;

    --button-v1-bg: #6fc7c2;
    --button-v1-bg-hover: #0a0641;
    --button-v1-text: #0c0a3e;
    --button-v1-text-hover: #ffffff;

    --button-v2-bg: #0a0641;
    --button-v2-bg-hover: #6fc7c2;
    --button-v2-text: #ffffff;
    --button-v2-text-hover: #0c0a3e;

    --main-header-text: #0a0641;
  }
  body {
    @apply font-space;
  }
  h1 {
    @apply text-6xl font-bold;
  }
  h2 {
    @apply text-5xl font-bold;
  }
  h3 {
    @apply text-4xl font-bold;
  }
  h4 {
    @apply text-2xl font-bold;
  }

  .layout{
    @apply bg-[--layout-primary-bg] relative min-h-screen w-full py-10 z-0;
  }
  .layout-circle{
    @apply border-[--layout-circle-border-bg] border-[2px] rounded-full absolute; 
  }
  .layout-circle-filled{
    @apply bg-[--layout-circle-border-bg] rounded-full opacity-50 -z-10;
  }

  .button {
    @apply font-bold items-center transition duration-300;
  }
  .button-v1 {
    @apply button bg-[--button-v1-bg] hover:bg-[--button-v1-bg-hover] text-[--button-v1-text] hover:text-[--button-v1-text-hover];
  }
  .button-v2 {
    @apply button bg-[--button-v2-bg] hover:bg-[--button-v2-bg-hover] text-[--button-v2-text] hover:text-[--button-v2-text-hover];
  }

  .link {
    @apply text-[--menu-link-text] hover:text-[--menu-link-text-hover] transition-colors duration-300;
  }
  .link-active {
    @apply text-[--menu-link-text-active] font-medium;
  }
  .link-mobile{
    @apply hover:bg-[--menu-link-mobile-hover];
  }

  .menu-primary{
    @apply bg-[--menu-primary-bg];
  }
  .menu-secondary{
    @apply bg-[--menu-secondary-bg];
  }

  .main-header{
    @apply text-[--main-header-text] text-[5vw] sm:text-[4.5vw] lg:text-[3.4vw];
  }

  .widget{
    @apply bg-[--widget-bg] h-24 flex flex-col py-5 px-10 justify-start;
  }
  .widget-header{
    @apply text-[--widget-header-text] font-light text-base;
  }
  .widget-body{
    @apply text-[--widget-body-text] font-medium text-lg;
  }
  .widget-price-change{
    @apply text-[--widget-price-change-text] font-light text-xs px-2;
  }
  .widget-additional{
    @apply text-[--widget-additional-text] font-light text-xs px-2;
  }

  .table-header{
    @apply text-[--table-header-text] px-5 text-lg font-normal;
  }
  .table{
    @apply bg-[--table-bg] p-5 w-full text-[--table-cell-text];
  }
  .table-column-header{
    @apply text-sm font-light border-b-2 border-b-[--table-divider-v1-bg];
  }
  .table-divider-v1{
    @apply border-b-2 border-b-[--table-divider-v1-bg]
  }
  .table-divider-v2{
    @apply border-b-2 border-b-[--table-divider-v2-bg]
  }
  .table-pagination-button{
    @apply border py-1 px-2 enabled:hover:text-[--table-pagination-text-hover] enabled:hover:font-extrabold enabled:hover:bg-[--table-pagination-bg-hover] enabled:cursor-pointer transition-colors duration-300  disabled:text-[--table-pagination-text-border-disabled] disabled:border-[--table-pagination-text-border-disabled]
    disabled:font-bold;
  }
  .table-cell{
    @apply text-[--table-cell-text];
  }
  .table-cell-link{
    @apply text-[--table-cell-link-text];
  }

}
