@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --menu-primary-bg: #4e3fb6;
    --menu-secondary-bg: #0c0a3e;
    --menu-mobile-hover: #4e3fb6;
    --menu-link-text: #ffffff;
    --menu-link-text-hover: #08e8de;
    --menu-link-text-active: #08e8de;
    --menu-link-mobile-hover:  #3730A3;

    --button-v1-bg: #08e8de;
    --button-v1-bg-hover: #4e3fb6;
    --button-v1-text: #0c0a3e;
    --button-v1-text-hover: #ffffff;

    --button-v2-bg: #4e3fb6;
    --button-v2-bg-hover: #08e8de;
    --button-v2-text: #ffffff;
    --button-v2-text-hover: #0c0a3e;

  }
  .theme-light{
    --menu-primary-bg: #847fa8;
    --menu-secondary-bg: #1b1b29;
    --menu-mobile-hover: #27243f;
    --menu-link-text: #ffffff;
    --menu-link-text-hover: #005752;
    --menu-link-text-active: #004d49;
    --menu-link-mobile-hover:  #626170;

    --button-v1-bg: #630606;
    --button-v1-bg-hover: #6e62b9;
    --button-v1-text: #0c0a3e;
    --button-v1-text-hover: #ffffff;

    --button-v2-bg: #0a0641;
    --button-v2-bg-hover: #6fc7c2;
    --button-v2-text: #ffffff;
    --button-v2-text-hover: #0c0a3e;
  }
  .theme-yellow{
    --menu-primary-bg: #e29024;
    --menu-secondary-bg: #bed14f;
    --menu-mobile-hover: #27243f;
    --menu-link-text: #ffffff;
    --menu-link-text-hover: #005752;
    --menu-link-text-active: #004d49;
    --menu-link-mobile-hover:  #626170;

    --button-v1-bg: #aaa70c;
    --button-v1-bg-hover: #832d2d;
    --button-v1-text: #0c0a3e;
    --button-v1-text-hover: #ffffff;

    --button-v2-bg: #c23927;
    --button-v2-bg-hover: #e6c740;
    --button-v2-text: #ffffff;
    --button-v2-text-hover: #494bd8;
  }
  body {
    @apply font-space;
  }
  h1 {
    @apply text-6xl font-bold;
  }
  h2 {
    @apply text-5xl font-bold;
  }
  h3 {
    @apply text-4xl font-bold;
  }
  h4 {
    @apply text-2xl font-bold;
  }

  .button {
    @apply font-bold items-center transition duration-300;
  }
  .button-v1 {
    @apply button bg-[--button-v1-bg] hover:bg-[--button-v1-bg-hover] text-[--button-v1-text] hover:text-[--button-v1-text-hover];
  }
  .button-v2 {
    @apply button bg-[--button-v2-bg] hover:bg-[--button-v2-bg-hover] text-[--button-v2-text] hover:text-[--button-v2-text-hover];
  }
  .link {
    @apply text-[--menu-link-text] hover:text-[--menu-link-text-hover] transition-colors duration-300;
  }
  .link-active {
    @apply text-[--menu-link-text-active] font-medium;
  }
  .link-mobile{
    @apply hover:bg-[--menu-link-mobile-hover];
  }
  .menu-primary{
    @apply bg-[--menu-primary-bg];
  }
  .menu-secondary{
    @apply bg-[--menu-secondary-bg];
  }
}
